POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=<your_n8n_encryption_key>
N8N_USER_MANAGEMENT_JWT_SECRET=<your_n8n_user_management_jwt_secret>
N8N_DEFAULT_BINARY_DATA_MODE=filesystem

# For Mac users running OLLAMA locally
# See https://github.com/n8n-io/self-hosted-ai-starter-kit?tab=readme-ov-file#for-mac--apple-silicon-users
# OLLAMA_HOST=host.docker.internal:11434